html{
    font-family: sans-serif;
}
body{
    text-align: center;
    max-width: 65%;
    margin: 0px auto;
}
h1{
    text-align: left;
}
table{
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-size: 0.8rem;
    width:auto;
    text-align: center;
    height:auto;
}

td, th{
    border: 1px solid black;
    padding: 15px;
    height:10px;
}

th{
    background-color: gray;
    color:white;
    height: 50px;
}

td{
    text-align: center;
    height:auto;
    width: auto;
}
tbody:nth-child(even){
    background-color:rgba(0,0,0,.1);
}
tbody{
    font-size:100%;
    font-style: italic;
}
caption{
    caption-side: bottom;    
}
