@media only screen and (min-width: 80em) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		margin-top: 5%;
		margin-bottom: 5%;
		column-gap: .05%;
		max-height: auto;
	}
	
	/* This is unncessary !!! The flow is set and the template is set already 
	main section:nth-child(1) {
	  grid-column: 1/2;
  }
	main section:nth-child(2) {
	  grid-column: 2/3;
		grid-row: 1/2;
  }
	/*************************************

	main section:nth-child(3) {
		grid-column: span 1;
	}*/
	#herodiv{
		width:100%;
		height:auto;

	}
	#hero-img{
		width:100%;
		height:inherit;
	}
	/*#spotlights-div{
		display:flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		grid-column: 4/-1;
		grid-row: 1/-1;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}*/
	.spotlights{
		display: flex;
		flex-wrap: wrap;
		height: 33%;
		width:100%;
	}

	#spotlights-section{
		height:100%;
		width:100%;
	}

	section{
		max-height: 100%;
		max-width: 100%;
	}
	/*Hero******/
	#herooo{
		width: 100%;
		height:max-content;
		grid-column: 2/4;
		grid-row:1/2;
		margin-top:0;
	}

	/*events*****/
	#whatshappening{
		width: 100%;
		height:max-content;
		grid-column: 1/2;
		grid-row: 1/2;
		padding:0;
	}
	/*weather********/
	#weather-section{
		width: 95%;
		/*height: max-content;*/
		grid-row: 2/3;
		grid-column:1/2;
		
		
	}
	/*news*******/
	#hotoffthepress{
		width: 100%;
		padding: 0;
		grid-column: 2/4;
		padding:1px;
	}

	/*spotlights***/
	#spotlights-section{
		display:flex;
		align-items:center;
		justify-content: space-evenly;
		width: 100%;
		height: 100%;
		grid-row: 1/-1;
	}
	/*join**/
	#wantin{
		display:block;
		width:100%;
		grid-row:3/4;
		grid-column:1/2;
	}
	/* Brian */
	main {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: auto auto auto;
		margin-top: 5%;
		margin-bottom: 5%;
		column-gap: .05%;
		max-height: auto;
	}
	.weathersection {
		grid-template-columns: 1/2;
		grid-template-rows: 2/3;
		width: 100%;
		
	}
}

