@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Martian+Mono:wght@100&display=swap');
/* font-family: 'Gloria Hallelujah', cursive;
font-family: 'Martian Mono', monospace;
*/

:root{ 
    --primary-bg: rgb(247, 178, 173);
    --primary-fg: rgb(43, 65, 65);
    --secondary-fg: rgb(122, 155, 118);
    --secondary-bg: rgb(206, 183, 179);
    --pop-color: rgb(244, 255, 82);
    --body-font:'Gloria Hallelujah', cursive;
    --heading-font:'Martian Mono', monospace;
}

html{
    padding: 0px;
    font-family: var(--body-font);
}

body{
    text-align: center;
    max-width: 65%;
    margin: 0px auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font)
}

p{
    font-family: var(--body-font);
}

#logo{
    width:auto;
}


/* Header */
header{
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}

header div{
    align-self:center;
    text-align: center;
    background-color: var(--primary-bg);
}

header #banner{
    align-self:center;
    text-align: center;
    width: auto;
    background-color: var(--primary-bg);
}

nav{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: right;
    align-self:right;
    width: auto;
    border-style: groove;
    padding-left: 3rem;
    border-color: var(--secondary-bg);
    border-radius: 2%;
    position: relative;
    padding: left;
}

nav a{
    padding: 7px 5px;
    width: auto;
}

nav a:link{
    color:var(--primary-fg)
}

nav a:visited{
    color: var(--primary-fg);
}

a:link{
    color:var(--pop-color);
}

a:visited{
    color:var(--primary-fg);
}

nav button{
    margin: .2rem 2vw;
    justify-content: center;
}
nav ul{
    list-style:none;
    padding: 0;
    margin:0;
}

nav ul{
    display: none;
}

nav ul.open{
    display: block;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;

}

#hamburgerBtn {
    padding: 5px 5px;
    z-index: 300;
    width: min-content;
    align-self: center;
}

#hamburgerBtn img{
    height: 30px;
    width: 30px;
}

#hamburgerBtn span:nth-child(1){display: block;}
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;}
#hamburgerBtn.open span:nth-child(2){display: block;}


/* main */
main{
background-color: var(--primary-bg);
color: var(--primary-fg);
}

form label.top{
    display: block;
}
/* footer*/
footer{
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}
