@media only screen and (min-width: 1000px) {
    header {
        grid-template-columns: auto auto;
    }

    nav {
        align-self: end;
    }

    nav ul {
        flex-direction: row;
        width: 100%;
        position: relative;
        top: unset;
        right: unset;
        background-color: unset;
        box-sizing: border-box;
        column-gap: 2em;
        padding-top: 0;
        padding-bottom: 0;
        font-size: .7em;
    }


    nav li {

        color: var(--color-heading-text);
    }

    nav a {
        color: var(--color-heading-text);
    }

    nav a:visited {
        color: var(--color-heading-text);
    }



    .current-page {
        color: white;
    }
}