@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arimo&family=Grechen+Fuemen&family=Permanent+Marker&family=Roboto:wght@100&family=Vujahday+Script&display=swap');

body {
  text-align: left;
  max-width: 100%;
}

header{
  background-color: steelblue;
  border-style: dotted;
  margin: 0 auto;
  display:flex
}

h1 {
  color: black;
  display: inline-block;
  width:auto;
  justify-content: left;
}

img {
  width: auto;
}


main {
  background-color: white;
  padding: 20px;
  justify-content: space-around;
}


p {
  padding: 10px;
}


footer {
  background-color: red;
  color: white;
}

.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
}

#active {
  background-color: white;
  color: steelblue;
}

footer {
  background-color: #BBD0E2;
  color: black;
}

footer p {
  padding: 25px;
}

a {
  font-family: 'Permanent Marker', cursive;
  font-size:medium;
}

p{
  font-family: 'Permanent Marker', cursive;
  font-size: small;
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size:smaller;
}