@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arimo&family=Grechen+Fuemen&family=Permanent+Marker&family=Roboto:wght@100&family=Vujahday+Script&display=swap');

body {
  text-align: center;
  max-width: 60%;
  margin: 0px auto;
}

header{
  background-color: steelblue;
  border-style: dotted;
  display:flex;
  justify-content: center;
}

h1 {
  color: black;
  display: inline-block;
  width:auto;
}

img {
  width: 100px;
}


main {
  background-color: white;
  padding: 20px;
  justify-content: space-around;
}


p {
  padding: 10px;
}



.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
}

#active {
  background-color: white;
  color: steelblue;
}

footer {
  background-color: #BBD0E2;
  color: black;
  display: flex;
  padding: 15px 40px;
  font-size: 70%;
  justify-content: center;
}

footer p {
  padding: 25px;
}

a {
  font-family: 'Permanent Marker', cursive;
  font-size:medium;
}

p{
  font-family: 'Permanent Marker', cursive;
  font-size: small;
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size:smaller;
}