@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arimo&family=Grechen+Fuemen&family=Permanent+Marker&family=Roboto:wght@100&family=Vujahday+Script&display=swap');
@media only screen and (min-width: 32.5em) {
    header,
    footer {
        border-radius: 15px;
        margin-top: 20px;
        box-shadow: 0 0 20px #333;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header img{
        width: 100px;
    }

    h1 {
        font-size: 1.6rem;
        margin-left: 1rem;
    }

}